.blog-section {
    .blog-card {
        background-color: $lightwhite;
        @include border-radius(7px);
        margin-bottom: 30px;
        box-shadow: 3px 3px 10px #e3e3e3;
        .blog-image {
            display: block;
            img {
                @include border-radius(7px);
                width: 100%;
                height: auto;
                @include transition(0.2s, ease-in-out);
                    &:hover {
                        @include opacity(0.7);
                    }
            }
        }
        .blog-dec {
            padding: 40px;
            .date-text {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 10px;
                display: inline-block;
            }
            h3 {
                font-size: 28px;
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 15px;
                a {
                    color: $darkblack;
                    @include transition(0.2s, ease-in-out);
                    &:hover {
                        color: $green;
                    }
                }
            }
            p {
                font-size: 16px;
                margin-bottom: 0;
               
            }
            .read-more {
                color: $darkblack;
                white-space: nowrap;
                border-bottom: 1px solid $darkblack;
                line-height: 1;
                display: inline-block;
                @include transition(0.2s, ease-in-out);
                &:hover {
                    color: $green;
                    border-bottom: 1px solid $green;
                }
            }
        }
        @media (max-width: 991px) {
            .blog-dec {
                padding: 20px;
                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
        @media (max-width: 575px) {
            margin-bottom: 20px;
        }
    }
}
