.d-flex {
    @include flexbox();
}
.justify-content-center {
    @include justify-content(center);
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-start {
    @include justify-content(center);
    -ms-flex-pack: flex-start !important;
    justify-content: flex-start !important;
}

.justify-content-end {
    @include justify-content(center);
    -ms-flex-pack: flex-end !important;
    justify-content: flex-end !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}
.align-self-end {
    -ms-flex-item-align: end !important;
    align-self: end !important;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}

ul{
    list-style: none;
}
picture {
    @include flexbox();
}
.line {
    border-bottom: 1px solid $green;
}
.main-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.1;
    @media (max-width: 991px) {
        font-size: 36px;
        margin-bottom: 20px;
    }
    @media (max-width: 767px) {
        font-size: 26px;
        margin-bottom: 15px;
    }
}

.md-title {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 80px;
    line-height: 1.1;
    @media (max-width: 991px) {
        font-size: 30px;
        margin-bottom: 30px;
    }
    @media (max-width: 767px) {
        font-size: 24px;
        margin-bottom: 20px;
    }
}
.sub-dec {
    text-align: center;
    max-width: 665px;
    margin: 0 auto 90px;
    a {
        border-bottom: 1px solid $green;
        color: $darkblack;
        &:hover{
            color: $green;
        }
    }
    @media (max-width: 991px) {
        margin-bottom: 30px;
    }
}
.inner-content {
    margin-bottom: 40px;
    @media (max-width: 991px) {
        margin-bottom: 30px;
    }
    @media (max-width: 991px) {
        margin-bottom: 20px;
    }
}
.see-all-btn {
    margin-top: 60px;
    .site-btn {
        min-width: 400px;
    }
    @media (max-width: 991px) {
        .see-all-btn {
            margin-top: 30px;
        }
    }
    @media (max-width: 767px) {
        margin-top: 0;
        .site-btn {
            min-width: 180px;
        }
    }
}
section {
    padding-bottom: 95px;
    @media (max-width: 991px) {
        padding-bottom: 40px;
    }
}
.main-wrapper {
    padding-top: 130px;
    @media (max-width: 1199px) {
        padding-top: 70px;
    }
    @media (max-width: 991px) {
        padding-top: 60px;
    }
    @media (max-width: 767px) {
        padding-top: 50px;
    }
    @media (max-width: 575px) {
        padding-top: 40px;
    }
}
.img-mask {
    text-align: right;
    position: relative;
    img {
        width: 100%;
        height: auto;
    }
    &:before {
        content: "";
        position: absolute;
        left: -20px;
        top: -20px;
        width: 149px;
        height: 40px;
        background: url(../images/shape1.svg) left top no-repeat;
        background-size: 100% 100%;
    }
    &:after {
        content: "";
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 119px;
        height: 20px;
        background: url(../images/shape2.svg) left top no-repeat;
        background-size: 100% 100%;
    }
    @media (max-width: 1440px) {
        &:before {
            left: -15px;
        }
        &:after {
            right: -15px;
        }
    }
    @media (max-width: 767px) {
        text-align: center;
        margin: 0 auto 20px;
        &:before{
            width: 85px;
        }
         &:after{
            width: 85px;
        }
    }
    @media (max-width: 575px) {
        text-align: center;
        margin: 0 auto 20px;
    }
}
.hero-section {
    padding: 0 0 100px 0;
    .hero-text-content {
        p {
            margin-bottom: 50px;
            max-width: 460px;
        }
    }
    .form-get-started {
        @include flexbox();
        @include align-items(center);
        .input-get-started {
            background-color: $lightwhite;
            border: 1px solid transparent;
            color: #9b9b9b;
            @include border-radius(7px);
            height: 77px;
            font-size: 20px;
            font-weight: 600;
            padding: 10px 20px;
            @include box-shadow(3px 3px 10px (#e3e3e3));
            min-width: 300px;
            &::placeholder {
                color: #9b9b9b;
            }
        }
        .btn-get-started {
            background-color: $yellow;
            margin-left: 20px;
            @include transition(0.2s, ease-in-out);
            &:hover {
                background-color: $green;
                color: $white;
            }
        }
    }
    @media (max-width: 1199px) {
        .form-get-started {
            .input-get-started {
                min-width: auto;
                width: 100%;
            }
        }
    }
    @media (max-width: 991px) {
        padding: 0 0 40px 0;
        .form-get-started {
            .input-get-started {
                height: 40px;
                font-size: 17px;
                min-width: auto;
                width: 100%;
            }
        }
        .hero-text-content {
            p {
                margin-bottom: 30px;
            }
        }
    }
    @media (max-width: 767px) {
        .form-get-started {
            max-width: 80%;
        }
    }

    @media (max-width: 480px) {
        .form-get-started {
            display: block;
            max-width: 100%;
            .btn-get-started {
                margin: 10px 0 0;
                min-width: 100%;
            }
        }
    }
}
.img-text-section {
    .md-title {
        margin-bottom: 35px;
    }
    .right-content {
        padding-bottom: 95px;
        .image-block {
            &:before {
                background: url(../images/shape3.svg) left top no-repeat;
                height: 20px;
                width: 99px;
                top: -10px;
                background-size: 100% 100%;
            }
            &:after {
                background: url(../images/shape4.svg) left top no-repeat;
                height: 40px;
                width: 148px;
                background-size: 100% 100%;
            }
        }
        .text-content {
            padding-left: 70px;
        }
    }
    .left-content {
        .text-content {
            padding-right: 70px;
        }
        .image-block {
            &:before {
                background: url(../images/shape2.svg) left top no-repeat;
                height: 20px;
                width: 99px;
                top: -10px;
                background-size: 100% 100%;
            }
            &:after {
                background: url(../images/shape1.svg) left top no-repeat;
                height: 40px;
                width: 148px;
                background-size: 100% 100%;
            }
        }
    }
    .text-content {
        h3 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @media (max-width: 1199px) {
        .right-content {
            .text-content {
                padding-left: 15px;
            }
        }
        .left-content {
            .text-content {
                padding-right: 15px;
            }
        }
    }
    @media (max-width: 991px) {
        .md-title {
            margin-bottom: 20px;
        }
        .right-content {
            padding-bottom: 40px;
            .text-content {
                padding-left: 0;
            }
        }
        .left-content {
            .text-content {
                padding-right: 0;
            }
        }
        .text-content {
            p {
                margin-bottom: 20px;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 5px;
            }
        }
    }
    @media (max-width: 767px) {
        .right-content{
            .image-block{
                 &:before{
                    width: 70px;
                }
                &:after{
                    width: 85px;
                    height: 20px;
                }
            }
        }
        .left-content{
            .image-block{
                 &:before{
                    width: 70px;
                }
                &:after{
                    width: 85px;
                    height: 20px;
                }
            }
        }
    }
    @media (max-width: 575px) {
        .md-title {
            margin-bottom: 15px;
        }
        .text-content {
            h3 {
                font-size: 18px;
            }
        }
    }
}
.project-section {
    .project-card {
        background-color: $lightwhite;
        @include border-radius(7px);
        margin-bottom: 30px;
        .project-image {
            padding: 2px;
            img {
                @include border-radius(7px);
                width: 100%;
                height: auto;
            }
        }
        .project-dec {
            padding: 25px 30px;
            position: relative;
            h3 {
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 15px;
                line-height: 1.2;
                @include transition(0.2s, ease-in-out);
                a {
                    color: $darkblack;
                    @include transition(0.2s, ease-in-out);
                    &:hover {
                        color: $green;
                    }
                }
            }
            .project-mm-logo {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            .add-to-watch {
                font-size: 20px;
                font-style: italic;
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
                color: $darkblack;
                border-bottom: 1px solid #289d8f;
                margin-top: 30px;
                @include transition(0.2s, ease-in-out);
                &:hover {
                    color: $green;
                }
            }
        }
        @media (max-width: 991px) {
            .project-dec {
                padding: 20px 25px;
                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                .add-to-watch {
                    margin-top: 15px;
                    font-size: 16px;
                }
                .project-mm-logo {
                    img {
                        width: 50px;
                    }
                }
            }
        }
        @media (max-width: 575px) {
            margin-bottom: 20px;
            .project-dec {
                padding: 20px;
            }
        }
    }
}
.project-img-text-section {
    .project-image {
        &::before {
            left: 0;
            top: -50px;
        }
        &::after {
            right: 0;
            bottom: -30px;
        }
    }
    .project-text-content {
        padding-left: 30px;
        .category-content {
            margin-bottom: 30px;
            p {
                margin: 0;
            }
            a{
                color: $darkblack;
                &:hover{
                    color: $green;
                }
            }
        }
        .md-title {
            font-weight: 700;
            margin-bottom: 30px;
        }
        p {
            margin-bottom: 30px;
        }
        .see-profile-btn {
            font-size: 14px;
            font-style: italic;
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            color: $darkblack;
            border-bottom: 1px solid $green;
            @include transition(0.2s, ease-in-out);
            &:hover {
                color: $green;
            }
        }
    }
    @media (max-width: 1199px) {
        .project-text-content {
            padding-left: 0;
        }
    }
    @media (max-width: 991px) {
        .project-text-content {
            .md-title {
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: 767px) {
        padding-top: 20px;
        .project-image {
            &::before {
                top: -20px;
            }
        }
        .project-text-content {
            margin-top: 25px;
            .category-content {
                margin-bottom: 15px;
            }
            .md-title {
                margin-bottom: 15px;
            }
        }
    }
}
.subscribe-section {
    background-color: $lightwhite;
    padding: 0;
    .subscribe-inner-content {
        .subscribe-inner {
            @include align-items(center);
            padding: 100px 0;
            min-height: 420px;
        }
        .form-get-started {
            @include flexbox();
            @include align-items(center);
            .input-get-started {
                background-color: $lightwhite;
                border: 1px solid transparent;
                color: #9b9b9b;
                @include border-radius(7px);
                height: 77px;
                font-size: 20px;
                font-weight: 600;
                padding: 10px 20px;
                box-shadow: 3px 3px 10px #e3e3e3;
                width: 100%;
                &::placeholder {
                    color: #9b9b9b;
                }
            }
            .btn-get-started {
                background-color: $yellow;
                margin-left: 20px;
                @include transition(0.2s, ease-in-out);
                &:hover {
                    background-color: $green;
                    color: $white;
                }
            }
        }
    }
    @media (max-width: 991px) {
        .subscribe-inner-content {
            .form-get-started {
                .input-get-started {
                    height: 40px;
                    font-size: 17px;
                }
            }
            .subscribe-inner {
                min-height: auto;
            }
        }
    }
    @media (max-width: 767px) {
        .subscribe-inner-content {
            .subscribe-title {
                margin-bottom: 30px;
            }
            .subscribe-inner {
                padding: 40px 0;
                min-height: auto;
            }
        }
    }
    @media (max-width: 575px) {
        .subscribe-inner-content {
            .subscribe-title {
                margin-bottom: 20px;
            }
            .subscribe-inner {
                padding: 40px 0;
                min-height: auto;
            }
           
        }
    }
    @media (max-width: 480px) {
        .subscribe-inner-content {
            .form-get-started {
                display: block;
                .btn-get-started {
                    margin: 10px 0 0;
                    min-width: 100%;
                }
            }
        }
    }
}
.panal-block {
    padding: 95px 0 65px;
    .left-panel {
        .filter-item {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
            h4 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 20px;
            }
            .filter-checkbox-group {
                .add-more-btn {
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(center);
                    .add-more {
                        font-size: 16px;
                        font-weight: 600;
                        color: $darkblack;
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 1;
                        border-bottom: 1px solid $darkblack;
                        @include transition(0.2s, ease-in-out);
                        &:hover {
                            color: $green;
                            border-bottom: 1px solid $green;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 991px) {
        padding: 40px 0;
    }
    @media (max-width: 767px) {
        padding: 10px 0 40px;
        .left-panel {
            margin-bottom: 20px;
            .filter-content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
            }
            .filter-item {
                margin-bottom: 30px;
                h4 {
                    font-size: 17px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    @media (max-width: 575px) {
        .left-panel {
            margin-bottom: 40px;
            .filter-content {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 10px;
                .filter-item {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
.checkbox-content {
    @include flexbox();
    @include align-items(center);
    margin-bottom: 10px;
    .form-check-input:checked[type="checkbox"] {
        &:after {
            content: "";
            position: absolute;
            @include border-radius(3px);
            margin: 2px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $darkblack;
        }
    }
    .form-check-input {
        width: 18px;
        height: 18px;
        margin: 0;
        position: relative;
        @include border-radius(5px);
        vertical-align: top;
        background-color: $lightwhite;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 2px solid $darkblack;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
    .form-check-label {
        font-size: 18px;
        font-weight: 600;
        margin-left: 15px;
        cursor: pointer;
    }
    @media(max-width:767px){
        .form-check-label {
            font-size: 15px;
            margin-left: 10px;
        }
    }
}
.product-page {
    padding-top: 80px;
    .panal-block {
        padding-top: 0;
        .main-title {
            padding-bottom: 50px;
            margin-bottom: 130px;
            position: relative;
            &:after {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 148px;
                height: 40px;
                background: url(../images/shape1.svg) center no-repeat;
                background-size: 100% 100%;
            }
        }
    }
   
    @media (min-width: 992px) {
        .blog-section{
            padding-bottom: 95px;
        }
    }
    @media (max-width: 1199px) {
        padding-top: 50px;

        .panal-block {
            .main-title {
                margin-bottom: 70px;
            }
        }
    }
    @media (max-width: 991px) {
        padding-top: 40px;
        .panal-block {
            .main-title {
                padding-bottom: 30px;
                margin-bottom: 40px;
                &:after {
                    height: 25px;
                }
            }
        }
    }
}
.category-by-section {
    padding-top: 95px;
    .category-list {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        max-width: 885px;
        margin: 0 auto;
        @include flex-wrap(wrap);
        overflow: hidden;
        li {
            .category-info{
                @include inline-flex;
                @include align-items(center);
                background-color: $lightwhite;
                @include border-radius(7px);
                margin: 0 15px 30px;
            }
            .category-image{
                img{
                    min-width: 76px;
                    min-height: 76px;
                }
            }
            h3 {
                font-size: 21px;
                font-weight: 600;
                margin: 0;
                padding: 5px 25px;
                white-space: nowrap;
                min-width: 150px;
                text-align: center;
                color: $darkblack;
            }
        }
    }
    @media (max-width: 991px) {
        padding-top: 40px;
    }
    @media (max-width: 767px) {
        padding-top: 10px;
        .category-list {
            li {
                .category-info{
                 margin: 0 7.5px 15px;
                }
            }
        }
    }
    @media (max-width: 575px) {
        .category-list {
            li {
                h3 {
                    font-size: 18px;
                    padding: 5px 15px;
                }
            }
        }
    }
}
.full-product-section{
    .full-product-inner-content{
        .image-block{
            text-align: center;
            img{
                margin: auto;
            }
        }
        .sub-title{
            margin-bottom: 10px;
            display: block;
            span{
                margin-right: 10px;
                display: inline-block;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .main-title{
            margin-bottom: 10px;
        }
        .product-content{
            margin-bottom: 30px;
            p{
                margin: 0;
            }
            a{
                color: $darkblack;
            }
        }
        .text-content{
            a{
                color: $darkblack;
                &:hover{
                    color: $green;
                }
            }
        }
    }
}
.blog-detail-section{
    .main-title {
        padding-bottom: 50px;
        margin-bottom: 130px;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 148px;
            height: 40px;
            background: url(../images/shape1.svg) center no-repeat;
            background-size: 100% 100%;
        }
    }
    .blog-detail-inner-content{
        max-width: 860px;
        margin: auto;
       
        .blog-text{
            h2{
                margin: 40px 0 15px;
                font-size: 32px;
                font-weight: 600;
                line-height: 1.2;
            }
            p{
                margin-bottom: 30px;
            }
            h3{
                font-size: 26px;
                font-weight: 400;
                position: relative;
                z-index: 1;
                margin-bottom: 40px;
                padding: 20px 20px 0;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 70px;
                    height: 61px;
                    z-index: -1;
                    background: url(../images/left-qustionmark.png) center no-repeat;
                    background-size: cover;
                }
                &:after{
                    content: "";
                    position: absolute;
                    bottom: 20px;
                    right: 0;
                    width: 70px;
                    height: 61px;
                    z-index: -1;
                    background: url(../images/right-qustionmark.png) center no-repeat;
                    background-size: cover;
                }
            }
            h4{
                font-size: 20px;
                font-weight: 600;
                margin: 0 0 5px;
                position: relative;
            }
            ul{
                padding-left: 20px;
                margin-bottom: 40px;
                li{
                    font-size: 20px;
                position: relative;
                font-weight: 400;
                }
            }
            .disc-text{
                list-style: disc;

            }
            .decimal-text{
                counter-reset: section;
                padding: 0;
                li{
                    padding-left: 25px;
                    &:before{
                        content: counter(section) ".";
                        counter-increment: section;
                        display: inline-block;
                        color: #818181;
                        font-size: 20px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .line{
                border-bottom: 1px solid $darkblack;
            }
        }
    }
    @media(max-width:1199px){
        .main-title{
            margin-bottom: 70px;
        }
    }
    @media(max-width:991px){
        .main-title{
            padding-bottom: 30px;
            margin-bottom: 40px;
            &:after {
                height: 25px;
            }
        }
        .blog-detail-inner-content {
            .blog-text{
                h2{
                    font-size: 24px;margin: 30px 0 10px;
                }
                p{
                    margin-bottom: 20px;
                }
                h3 {
                    font-size: 18px;
                    margin-bottom: 20px;
                    &:after{
                        bottom: 0;
                    }
                }
                h4{
                    font-size: 16px;
                }
                ul{
                    margin-bottom: 20px;
                    li{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
.contact-section{
    .contact-card{
        h2{
            margin-bottom: 50px;
        }
        .contact-list{
            li{
                font-size: 20px;
                font-weight: 400;
                color: $darkblack;
                margin-bottom: 20px;
                @include flexbox();
                @include align-items(baseline);
                &:last-child{
                    margin-bottom: 0;
                }
                .contact-list-img{
                    width: 13px;
                    margin-right: 20px;
                }
                a{
                    font-size: 20px;
                    font-weight: 400;
                    color: $darkblack;
                    text-decoration: underline;
                    &:hover{
                        color: $green;
                    }
                }
            }
        }
    }
    .contact-image{
        img{
            width: 100%;
            height: auto;
        }
    }
    @media(max-width:767px){
        .contact-card{
            margin-bottom: 30px;
            h2{
                margin-bottom: 20px;
            }
            .contact-list{
                li{
                    font-size: 16px;
                    margin-bottom: 15px;
                    a{
                        font-size: 16px;
                    }
                    .contact-list-img{
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}
.contact-details-section{
    padding-top: 95px;
    .contact-form{
        max-width: 805px;
        margin: auto;
        .form-group{
            margin-bottom: 30px;
        }
        .form-control{
            background-color: $lightwhite;
            border: none;
            display: block;
            padding: 20px;
            height: 77px;
            @include border-radius(7px);
            width: 100%;
            font-size: 20px;
            font-weight: 600;
            color: #9B9B9B;
            &::placeholder{
                color: #9B9B9B;
            }
        }
        textarea.form-control {
            height: 130px;
        }
        .form-btns{
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
            .checkbox-content{
                margin: 0;
                .form-check-label{
                    line-height: 1;
                }
            }
            a{
                display: inline-block;
                color: $darkblack;
                border-bottom: 1px solid $darkblack;
                &:hover{
                    border-bottom: 1px solid $green;
                    color: $green;
                }
            }
            .site-btn{
                background-color: #FEC79A;
                &:hover{
                    background-color: $green;
                }
            }
        }
    }
    @media(max-width:991px){
        padding-top: 40px;
        .contact-form {
            .form-group{
                margin-bottom: 15px;
            }
            .form-control{
                height: 40px;
                padding: 5px 15px;
                font-size: 17px;
            }
        }
    }
    @media(max-width:767px){
        padding-top: 10px;
    }
}